<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Fitness Tracker App</title>
  <link href="../assets/css/LoginPage.css" rel="stylesheet">
</head>

<!-- Navbar -->
<header>
    <nav>
        <a href="Index.html">Home</a>
        <a href="Blog.html">Blog</a>
        <a href="Activites.html">Activites</a>
        <a href="LoginPage.html">Login</a>
    </nav>
</header>

<body>
<script src="../assets/js/LoginPage.js"></script>
</body>
</html>